{% extends 'partials/dashboard.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Cancelamentos de pedidos por cliente</h1>
    <div>
        <form action="{{ request.path }}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    {% render_field form.data_inicial class="form-control" placeholder="Ex: dd/mm/aaaa" %}
                </div>
                <div class="form-group col-md-6">
                    {% render_field form.data_final class="form-control" placeholder="Ex: dd/mm/aaaa" %}
                </div>
            </div>
            <div class="form-row mb-2">
                <div class="form-group mr-2 mb-0 col-md-5">
                    <input type="submit" class="btn btn-dark mb-2" value="Pesquisar"/>
                </div>
            </div>
        </form>
        {% if clientes_pedidos_somas %}
            {% for cliente in clientes_pedidos_somas %}
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <p class="font-weight-bold mb-0">{{ cliente.nome_fantasia }}</p>
                                        <p class="mb-0">Pedidos realizados: {{cliente.pedidos_feitos}}</p>
                                        <p class="mb-0">Pedidos efetivados: {{ cliente.pedidos_nao_cancelados }}</p>
                                        <p class="mb-0">Pedidos cancelados: {{ cliente.pedidos_cancelados }}</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        {% include 'partials/sem_registros.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}