{% extends 'partials/dashboard.html' %}
{% load widget_tweaks %}
{% block content %}
{% url 'cadastrar-usuario' as cadastrar_usuario_url %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Cadastro de usuários</h1>
    <div>
        <form action="{{ request.path }}" method="post">
            {% include 'partials/submit.html' %}
            <div class="form-row mt-2">
                <div class="form-group col-md-5">
                    <label class="font-weight-bold">E-mail</label>
                    {% render_field form.email class="form-control" placeholder="Ex: joao@gmail.com" %}
                </div>
                <div class="form-group col-md-3">
                    <label class="font-weight-bold">
                        {% if request.path == cadastrar_usuario_url %} Senha
                        {% else %} Nova Senha
                        {% endif %}
                    </label>
                    {% render_field form.senha class="form-control" placeholder="Ex: @EmpresaX21" %}
                </div>
                <div class="form-group col-md-4">
                    <label class="font-weight-bold">Permissão</label>
                    {% render_field form.permissao class="form-control" %}
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">Nome</label>
                    {% render_field form.nome class="form-control" placeholder="Ex: João" %}
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">Telefone</label>
                    {% render_field form.telefone class="form-control" placeholder="Ex: (51) 99999-9999" %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}