{% url 'cadastrar-pedido' as cadastrar_pedido_url %}
{% if request.path != cadastrar_pedido_url %}
<div class="form-row">
    <div class="form-group col-md-12">
         <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="{% url 'editar-pedido' id%}">Pedido</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'editar-itens-pedido' id %}">Itens do pedido</a></li>
              </ol>
         </nav>
    </div>
</div>
{% endif %}