{% extends 'partials/dashboard.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Cadastro de formas de pagamento</h1>
    <div>
        <form action="{{ request.path }}" method="post">
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">Nome da forma de pagamento</label>
                    {% render_field form.nome_forma_pagamento class="form-control" placeholder="Ex: Boleto" %}
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">Prazo</label>
                    {% render_field form.prazo class="form-control" placeholder="Ex: à vista" %}
                </div>
            </div>
            {% include 'partials/submit.html' %}
        </form>
    </div>
</div>
{% endblock %}