{% extends 'partials/dashboard.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Cadastro de rotas dos prepostos</h1>
    <div>
        <form action="{{ request.path }}" method="post">
            {% include 'partials/submit.html' %}
             <div class="form-row mt-3">
                 <div class="form-group col-md-12">
                     <label class="font-weight-bold">Nome ou código da rota</label>
                     {% render_field form.nome_rota class="form-control" placeholder="Ex: Rota 1"%}
                 </div>
                 <div class="form-group col-md-12">
                     <label class="font-weight-bold">Prepostos</label>
                     {% render_field form.prepostos id="prepostos-rota" class="form-control" %}
                 </div>
            </div>
            <div class="form-row">
                 <div class="form-group col-md-5">
                    <button type="button" id="adiciona-preposto-rota" class="btn btn-dark font-weight-bold">Adicionar Preposto</button>
                 </div>
            </div>
            <div id="prepostos" class="form-row">
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block custom-scripts %}
    {% include 'pessoas/rotas_prepostos_js.html'%}
    <script>
        $(document).ready(function() {
          $.ajax({
            type: "POST",
            url: "{% url 'retorna-informacoes-rota-prepostos' id_rota %}",
            contentType: 'application/json',
            async: false,
            success: function(data){
                prepostos = data.rota_prepostos_clientes.prepostos;
            },
            error: function(data){
                console.log(data);
            }
          });

          atualizaExibePrepostos();
        });
    </script>
{% endblock %}